.App {
  text-align: center;

  display: flex;
  flex-flow: row nowrap;
}

/* --------------- */
/* --- Sidebar --- */
/* --------------- */

#sidebar {
  flex-grow: 0;

  & #sidebar-toggle:has([data-testid="ChevronLeftIcon"]) {
    display: flex;
    flex-flow: row-reverse nowrap;
  } /* #sidebar-toggle */

  & a {
    all: unset;
    /* display: inline-flex;
    flex-flow: row; */
  } /* a */
} /* #sidebar */

.page {
  flex-grow: 1;
}