.App {
  text-align: center;

  display: flex;
  flex-flow: row nowrap;

  max-width: 100vw;
}

/* --------------- */
/* --- Sidebar --- */
/* --------------- */

#sidebar {
  flex-grow: 0;

  & #sidebar-toggle:has([data-testid="ChevronLeftIcon"]) {
    display: flex;
    flex-flow: row-reverse nowrap;
  } /* #sidebar-toggle */

  & a {
    all: unset;
    /* display: inline-flex;
    flex-flow: row; */
  } /* a */
} /* #sidebar */

/* ------------ */
/* --- Page --- */
/* ------------ */

.page {
  flex-grow: 1;
  overflow: auto;

  h1 {
    background-color: slategray;
    color: whitesmoke;
    margin: 0;
    margin-bottom: 0.5em;
    padding: 0.5em 0;
  } /* h1 */
} /* .page */

/* ------------- */
/* --- Table --- */
/* ------------- */

div.MuiPaper-root:has(table) {
  & div.MuiBox-root {
  } /* div.MuiBox-root */
  & div.MuiTableContainer-root {
    & table.MuiTable-root {
      & thead.MuiTableHead-root {
        & th.MuiTableCell-root {
          & div.Mui-TableHeadCell-Content {
            flex-direction: column-reverse;
            & div.Mui-TableHeadCell-Content-Labels {
              width: 100%;
              justify-content: space-between;
            } /* div.Mui-TableHeadCell-Content-Labels */
            & div.Mui-TableHeadCell-Content-Actions {
              margin-left: auto;
              /* display: flex;
              align-items: center;
              flex-flow: row nowrap;
              width: 100%;
              & > button:first-of-type {
                flex-grow: 1;
              }
              & > button:last-of-type {
                flex-grow: 0;
              } */
            } /* div.Mui-TableHeadCell-Content-Actions */
            & div.Mui-TableHeadCell-ResizeHandle-Wrapper {
              height: 100%;
              & div.Mui-TableHeadCell-ResizeHandle-Divider {
                height: 100%;
              } /* div.Mui-TableHeadCell-ResizeHandle-Divider */
            } /* div.Mui-TableHeadCell-ResizeHandle-Wrapper */
          } /* div.Mui-TableHeadCell-Content */
        } /* th.MuiTableCell-root */
      } /* thead.MuiTableHead-root */
      & tbody.MuiTableBody-root {
      } /* tbody.MuiTableBody-root */
    } /* table.MuiTable-root */
  } /* div.MuiTableContainer-root */
} /* .div.MuiPaper-root */

/* --------------------- */
/* --- Table Filters --- */
/* --------------------- */
/* Date Picker : Min and Max */
& .MuiBox-root:has(.MuiPickersSectionList-root) {
  & .MuiPickersTextField-root {
    &:first-of-type {
      & .MuiPickersInputBase-root::before {
        content: "Min";
      }
    }
    &:nth-of-type(2) {
      & .MuiPickersInputBase-root::before {
        content: "Max";
      }
    }
    & .MuiPickersInputBase-root {
      &::before {
        padding-bottom: 0.25rem;
        color: rgba(0, 0, 0, 0.42)
      }
      & .MuiPickersSectionList-root {
        color: transparent;
      }
      &:focus-within, &:not(:has(span[aria-valuetext="Empty"])) {
        &::before {
          color: transparent;
        }
        & .MuiPickersSectionList-root {
          color: rgba(0, 0, 0, 0.87);
        }
      }
    } /* .MuiPickersInputBase-root */
  } /* .MuiPickersTextField-root */
} /* .MuiBox-root */


.page {
  flex-grow: 1;
}